/* font-family: 'Roboto Condensed', sans-serif; */
html,
body {
  height: 100%;
}

body {
  background-color: #bddab0;
  background: url(./../img/backgroung.jpg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.card {
  background: #fff;
}

.user-image {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50px;
}
